html, body, #root, .App {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.markdown-container {
  display: flex;
  gap: 20px;
  height: 100%;
}

.markdown-container-left,
.markdown-container-right {
  flex: 1;
  height: 93%;
  max-width: 50%;
  box-sizing: border-box;
  border: 1px solid #ddd;
  overflow-y: auto;
}

textarea {
  width: 100%;
  height: 100%;
  padding: 10px;
  resize: none;
  font-size: 14px;
  box-sizing: border-box;
}

.htmldiv {
  width: 100%;
  padding: 10px;
  background-color: #f9f9f9;
  font-size: 14px;
  height: 100%;
  overflow-y: auto;
  box-sizing: border-box;
}
